.filterOptions {
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  padding: 10px;
  margin-top: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  color: rgba(43,39,60,1);
}

.checkbox{
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.checkbox:checked + label {
  color: #1F7A8C;
}


/* .checkbox:hover{
  background-color: 'blue';
} */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.labels {
  margin-left: 8px;
  vertical-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 16px;
  /* font-weight: bold; */
  color: rgba(43,39,60,1);
  cursor: pointer;
}