
.leftSideBar {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.welcomeBanner {
  border-bottom: 1px solid #eeeeef;
  padding: 10px;
}

.welcomeBannerVerticalLayout {
  width: 100%;
  border-color: white;
  display: inline-block;
  vertical-align: baseline;
}

.welcomeTagPadding {
  padding-bottom: 8px;
}

.welcomeTag {
  /* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   */
  /* font-family: 'Courgette', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: #252525;
  text-align: left;
}

.personalFiltersContainer {
  /* border-color: white; */
  border-bottom: 1px solid #eeeeef;
  /* padding-bottom: 16px;
  padding-top: 16px; */
  padding: 10px;
  border-bottom: black;
}

.personalFiltersVerticalLayout {
  width: 100%;
  border-color: white;
  display: block;
  vertical-align: baseline;
}

.personalFiltersPadding {
  padding-bottom: 8px;
}

.personalFiltersLabel {
  /* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
  /* font-family: 'Courgette', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(43,39,60,1);
  text-align: left;
}

.filterToggleSet {
  /* display: flex; */
  flex-wrap: wrap;
  margin-left: -4px;
  border-color: white;
}

.myIssuesFilterContainer {
  display: block;
  border-color: white;
}

.myIssuesFilterOff {
  cursor: pointer;
  display: inline-block;
  border: 1px solid#bbbac0;
  border-radius: 16px;
  background: #fff;
  padding: 6px 12px;
  outline: none;
  color: #252525;
  transition: background-color .4s,border-color .4s,color .4s,clip-path .45s,transform .4s,-webkit-clip-path .45s;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  position: relative;
  margin: 4px;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.myIssuesFilterOn {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #1F7A8C;
  border-radius: 16px;
  background: #e7f2f3;
  padding: 6px 12px;
  outline: none;
  color: #1F7A8C;
  transition: background-color .4s,border-color .4s,color .4s,clip-path .45s,transform .4s,-webkit-clip-path .45s;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  position: relative;
  margin: 4px;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.myIssuesLabel {
  /* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
  /* font-family: 'Courgette', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 18px;
  /* font-weight: 600; */
  color: inherit;
  text-align: left;
}

.myIssuesFilter:hover {
  background-color:#e6e6e6
}

.watchedIssuesFilterContainer {
  display: block;
  border-color: white;
}

.watchedIssuesFilterOff {
  cursor: pointer;
  display: inline-block;
  border: 1px solid#bbbac0;
  border-radius: 16px;
  background: #fff;
  padding: 6px 12px;
  outline: none;
  color: #252525;
  transition: background-color .4s,border-color .4s,color .4s,clip-path .45s,transform .4s,-webkit-clip-path .45s;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  position: relative;
  margin: 4px;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.watchedIssuesFilterOn {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #1F7A8C;
  border-radius: 16px;
  background: #e7f2f3;
  padding: 6px 12px;
  outline: none;
  color: #1F7A8C;
  transition: background-color .4s,border-color .4s,color .4s,clip-path .45s,transform .4s,-webkit-clip-path .45s;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  position: relative;
  margin: 4px;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.watchedIssuesLabel {
  /* font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 18px;
  /* font-weight: 600; */
  color: inherit;
  text-align: left;
}

.watchedIssuesFilter:hover {
  background-color:#e6e6e6
}

.allFilters {
  position: fixed;
}