.discussionMain {
  margin: 5px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
  /* background: linear-gradient(to bottom right, #e7f6ff, #fdfdfd, whitesmoke); */
  background-color: transparent;
}

.commentCardList, .discussionMain {
  width: 100%;
}