.listView {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.issues {
  width: 75%;
}

.issueCard {
  /* display: grid; */
  grid-template-columns: 1fr 10fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(30, 8, 65, 0.19);  margin: 7px;
  border-radius: 12px;
  padding: 20px 3px;
  /* background-color: white; */
  background: linear-gradient(to right, #e7f6ff, #fcfcfc, #d9effa);
}

.issueCardTop {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

/* .issueCard {
  display: grid;
  grid-template-columns: 1fr 10fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(30, 8, 65, 0.19);  margin: 7px;
  border-radius: 12px;
  padding: 3px;
  background-color: white;
  background: linear-gradient(to right, #e7f6ff, #fcfcfc, #d9effa);
} */

.voteContainer {
  grid-column: 1;
  display: flex;
  justify-content: center;
}

.voteContainer .vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote button {
  font-size: 22px;
  color: rgb(20, 20, 20);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.vote button:hover {
  /* background-color: rgba(192, 192, 192, 0.363);
   */
   background-color: transparent;
   opacity: .7;
  border-radius: 50%;
}

.vote button:focus {
  outline: none;
}

.vote .voteCount {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: rgb(90, 90, 90);
  font-weight: 400;
}

.issueCardContent {
  grid-column: 2;
}

.issueCardContent .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  /* background-color: whitesmoke; */
  border-radius: 8px;
}

.issueCardContent .header {
  /* background-color: rgb(236, 236, 236);
  background: linear-gradient(to bottom right, #fafdff, #fcfdff, #f7fbff); */
  /* background: linear-gradient(to bottom right, #e7f6ff, #fdfdfd, whitesmoke); new */
  background-color: transparent;
}

.header .userDate {
  display: flex;
  flex-direction: column;
}

.header .dotsCategories {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.dots {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  color: rgb(58, 58, 58);
  position: relative;
  right: 3px;
  bottom: 4px;

}

.dotsIcon:hover {
  cursor: pointer;
  opacity: .7;
}

.dots:focus {
  outline: none;
}

.dotsIcon {
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}

.dotsCategories .categories {
  display: flex;
  flex-direction: row;
}

.modalContainer {
  position: relative;
  top: -50%;
  left: 75%;
  align-self: flex-end;
  transition: all 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(17, 17, 17);
}

.modalContainer .optionsModal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3px;
  padding: 5px;
  height: max-content;
  width: 120px;
  /* background-color: whitesmoke; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 7px;
  border-radius: 7px;
  position: absolute;
  background: linear-gradient(to right, #e7f6ff, #fcfcfc, #d9effa);
  z-index: 10;
}

.watchOption, .flagOption, .resolveOption {
  margin: 3px;
  padding: 3px;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  transition: all 0.2s ease;
}

.watch button, .flag button, .resolve button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border: none;
  background-color: inherit;
}

.optionText {
  display: flex;
  justify-content: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 18px;
}

.watch button:focus, .flag button:focus, .resolve button:focus {
  outline: none;
}

.watchOption:hover, .flagOption:hover, .resolveOption:hover, button:hover {
  /* background-color: rgb(231, 231, 231); */
  cursor: pointer;
  opacity: .7;
}


/*  */
/*  */
/*  */
/* ISSUE CARD CONTENT */
/*  */
/*  */
/*  */

.issueContainerBody {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.issueCardContent .content {
  margin: 5px;
  padding: 5px;
  /* background-color: whitesmoke; */
  /* background: linear-gradient(to bottom right, #fafdff, #fcfdff, whitesmoke); */
  /* background: linear-gradient(to bottom right, #e7f6ff, #fdfdfd, whitesmoke); new */
  background-color: transparent;
  /* background: , #fafdff, #fcfdff, #f7fbff); */
  /* background: linear-gradient(to bottom right, #fafdff, #fcfdff, whitesmoke); */
  /* background: linear-gradient(to bottom right, #e7f6ff, #fdfdfd, whitesmoke); */
  border-radius: 8px;
  transition: all 0.2s ease;
  /* filter: drop-shadow(5px 5px 10px #d9effa) */
}

.issueCardContent .content:hover {
  /* background-color: rgb(238, 238, 238); */
}

.content .title {
  margin: 5px;
  padding: 5px;
  padding-bottom: 0;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(19, 19, 19);
}

.content .text {
  margin: 5px;
  margin-top: 0;
  padding: 5px;
  padding-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: rgb(29, 29, 29);
}

.issueCardContent .photos {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
}

.photos .photo {
  max-height: 100px;
  max-width: 100px;
  margin: 2px;
}

.discussion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: max-content;
  border-top: rgb(224, 224, 224) 2px solid;
  margin: 5px;
}

.discussion button {
  /* padding: 2px;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid rgb(233, 233, 233);
  background: linear-gradient(to right, #e2f0ff, #f7fafd, #deeeff); */
  /* font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: rgb(14, 14, 14); */
  /* background-color: transparent; */
  font-size: 16px;
  transition: font-weight 0.2s ease-in-out;
  align-self: flex-start;
}

.discussion button:hover {
  /* border-bottom: 3px solid rgb(94, 94, 94); */
  cursor: pointer;
}

.discussion button:focus {
  outline: none;
}

.user {
  font-weight: 800;
}

button[type="button"] {
  cursor: pointer;
}

.issueCardRight {
  grid-column: 3;
  display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}