.homeContainer {
  height: 100%;
  /* background-color: #F2DFD7; */
  background-color: whitesmoke;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mainContainer {
  flex: 6;
}

button {
  background-color: white;
  outline: none;
  border: 1px solid #252525;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Montserrat', sans-serif;
  transition: background-color .2s ease-in-out;
}

button:hover {
  background-color: #BFDBF7;
}