.headerContainer {
  background: linear-gradient(to bottom, rgb(209, 234, 255), rgb(234, 248, 255), whitesmoke);
}

.title {
  font-size: 50px;
  /* font-family: 'Montserrat', sans-serif;
   */
  font-family: 'Kiwi Maru', serif;
  margin-left: 10px;
}

.toggleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 22%;
  margin-top: 2%;
}

.mapViewLabel {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: -120px; */
  color: rgba(43,39,60,1);
  margin-right: 5px;
}

.listViewLabel {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  /* margin-bottom: -120px; */
  color: rgba(43,39,60,1);
  margin-left: 5px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  /* margin-bottom: -120px; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* .sliderRound:before {
  border-radius: 50%;
} */

.sliderRound {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.sliderRound:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .sliderRound {
  background-color: #1F7A8C;
}

input:focus + .sliderRound {
  box-shadow: 0 0 1px #1F7A8C;
}

input:checked + .sliderRound:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
