.addCommentForm {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

}

.addCommentForm input {
  outline: none;
    background-color:#E1E5F2;
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 10px;
    overflow: auto;
}