.maindiv{
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url(../../../public/images/skyscrapers.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  padding: 3%;
}

.heading {
  font-size: 55px;
  font-family: 'Kiwi Maru', serif;
  letter-spacing: .3em;
  color: #1f7a8c;
  top: 10%;
}

.subheading {
  font-size: 24px;
  font-family: 'Kiwi Maru', serif;
  color: #252525;
  margin-top: -1%;
}

.button {
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: #f2dfd7;
  border: 1px solid #1f7a8c;
  font-size: 20px;
  margin-left: 300px;
  padding: 15px;
  /* height: 55px;
  width: 175px; */
  border-radius: 7px;
  color:  #1f7a8c;
  transition: background-image 0.2s ease-in-out;
}
.button:hover {
  background:  #1f7a8c;
  background-image: linear-gradient(to right,#f2dfd7, #BFDBF7);
}

