
#createIssue {
  background-color: #BFDBF7;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
  outline: none;
  width: 70%;
  font-family: 'Montserrat', sans-serif;
}

#createIssue:hover {
  background-color: #E1E5F2;
}