.createIssueContainer {
  display: flex;
}

#createIssue {
  font-size: 20px;
  position: fixed;
  cursor: pointer;
  margin:  0 auto;
  top: 6%;
  border: 1px solid #bbbac0;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  transition: background-color .2s ease-in-out;
}

#createIssue:hover {
  background-color: #BFDBF7;
  cursor: pointer;
}
