.createIssueContainer {
  display: flex;
}

#createIssue {
  font-size: 20px;
  /* border: 1px solid #bbbac0; */
  width: 60%;
  /* padding: 10px;
  border-radius: 12px; */
  cursor: pointer;
  margin: 10px auto;
  /*outline: none;
  background: linear-gradient(to right, rgb(195, 255, 255), rgb(211, 253, 243), rgb(240, 253, 255));
  transition: background 0.2s ease; */
}

#createIssue:hover {
  /* background: linear-gradient(to right, rgb(237, 255, 255), rgb(211, 255, 250), rgb(199, 248, 255)); */
  cursor: pointer;
}