#formBackground {
  position: fixed;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#issueForm {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 600px;
  height: 800px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color:#F5F5F5;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#issueForm * {
  margin: 5px auto;
}

#icon {
  margin: 0;
  align-self: flex-end;
}

#icon img {
  height: 20px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

#icon img:hover {
  transform: scale(1.3, 1.3);
}

#issueForm input, #issueForm textarea {
  outline: none;
  background-color:#E1E5F2;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  /* margin: 10px; */
  overflow: auto;
}

#issueForm button {
  font-family: 'Montserrat', sans-serif;
}

#chooseFile {
  z-index: -1;
}

#address {
  width: 350px;
  font-family: 'Montserrat', sans-serif;
}

#setLocation {
  font-family: 'Montserrat', sans-serif;
}

#categories {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.category {

}

#title {
  align-self: center;
  width: 300px;
}

textarea {
  width: 400px;
  height: 300px;
}

#text {
  align-self: center;
}

#photoSelect {
  align-self: center;
}

#repSelector {
  font-family: 'Montserrat', sans-serif;
  align-self: center;
  /* margin: 0 auto; */
}

.repOption {
  font-family: 'Montserrat', sans-serif;
}

#formSubmit {
  font-family: 'Montserrat', sans-serif;
  background-color: #BFDBF7;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  /* margin: 10px auto; */
  outline: none;
}

#formSubmit:hover {
  background-color: #E1E5F2;
}