#formBackground {
  position: fixed;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#issueForm {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 600px;
  min-height: 650px;
  padding: 20px;
  border-radius: 10px 20px;
  border: none;
  background-color:#F5F5F5;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#issueForm * {
  margin: 5px auto;
}

.error {
  color: red;
}

#issueForm input, #issueForm select {
  margin-left: 5px;
}

#heading {
  font-family: 'Kiwi Maru', serif;
  font-size: 25px;
}

#icon {
  margin: 0;
  align-self: flex-end;
}

#icon img {
  height: 20px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
}

#icon img:hover {
  transform: scale(1.3, 1.3);
}

#issueForm input, #issueForm textarea {
  outline: none;
  /* background-color:#E1E5F2; */
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  /* margin: 10px; */
  overflow: auto;
}

#issueForm button {
}

#chooseFile {
  z-index: -1;
}

#address {
  width: 350px;
}

#setLocation {
}

#categories {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}

.category {
}

#title {
  align-self: center;
  width: 300px;
}

#issueForm textarea {
  width: 450px;
  height: 150px;
}

#text {
  align-self: center;
  display: flex;
  flex-direction: column;
}

#photoSelect {
  align-self: center;
}

#repSelector {
  align-self: center;
  /* margin: 0 auto; */
}

#repSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repOption {
}

#formSubmit {
  /* background-color: white;
  border: 1px solid black; */
  /* padding: 10px;
  border-radius: 20px; */
  cursor: pointer;
  margin-top: 15px;
  outline: none;
}

#formSubmit:hover {
  /* background-color: #e6e6e6; */
}